.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "image image" "title title" "author created_at" "body body" "comments votes";
  background-color: whitesmoke;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  margin: 3%;
  padding: 3%;
  justify-items: center;
  align-items: center;
}

.image {
  grid-area: image;
  max-width: 50%;
}

@media screen and (max-width: 414px) {
  .article {
    display: block;
  }

  .image {
    max-width: 275px;
  }
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
}

.created_at {
  grid-area: created_at;
}

.body {
  grid-area: body;
}

.votes {
  grid-area: votes;
}

.comments {
  grid-area: comments;
}
