.article_card {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "image title title" "image author votes" "image created_at comments";
  grid-column-gap: 3%;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  margin: 3%;
  padding: 3%;
}

.image {
  grid-area: image;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .article_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "image image" "title title" "author votes" "created_at comments";
  }
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
}

.created_at {
  grid-area: created_at;
}

.votes {
  grid-area: votes;
}

.comments {
  grid-area: comments;
}
