.comment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "author created_at" "body body" "delete votes";
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  margin: 3%;
  padding: 3%;
}

.author {
  grid-area: author;
}

.created_at {
  grid-area: created_at;
}

.body {
  grid-area: body;
}

.delete {
  grid-area: delete;
}

.votes {
  grid-area: votes;
}
