.header {
  align-items: center;
  color: whitesmoke;
  background-color: darkslategrey;
  border-bottom: 5px solid whitesmoke;
  padding: 0% 1% 0% 1%;
}

.title {
  justify-self: left;
  text-align: left;
  text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.logged_in_user {
  align-self: top;
  justify-self: right;
  text-align: right;
  margin: 0%;
}

.span {
  background-color: rgba(245, 245, 245, 0.5);
}

@media screen and (max-width: 414px) {
  .header {
    display: block;
    text-justify: center;
  }
}
